<div class="accordion-item" data-faq-item data-keywords="<%= t('help.faq_keywords.product') %>" data-help-search-target="faqItem">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqProduct" aria-expanded="false" aria-controls="faqProduct">
      <%= t('help.faq.product.title') %>
    </button>
  </h2>
  <div id="faqProduct" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
    <div class="accordion-body">
      <p><%= t('help.faq.product.description') %></p>
      <ul>
        <li><%= t('help.faq.product.field1') %></li>
        <li><%= t('help.faq.product.field2') %></li>
        <li><%= t('help.faq.product.field3') %></li>
      </ul>
      <p class="text-muted small"><%= t('help.faq.product.note') %></p>
    </div>
  </div>
</div>