<div class="accordion-item" data-faq-item data-keywords="<%= t('help.faq_keywords.numerical_basic') %>" data-help-search-target="faqItem">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqNumericalBasic" aria-expanded="false" aria-controls="faqNumericalBasic">
      <%= t('help.faq.numerical_basic.title') %>
    </button>
  </h2>
  <div id="faqNumericalBasic" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
    <div class="accordion-body">
      <p><%= t('help.faq.numerical_basic.description') %></p>

      <h6><%= t('help.faq.numerical_basic.feature1.title') %></h6>
      <p><%= t('help.faq.numerical_basic.feature1.description') %></p>

      <h6><%= t('help.faq.numerical_basic.feature2.title') %></h6>
      <p><%= t('help.faq.numerical_basic.feature2.description') %></p>

      <h6><%= t('help.faq.numerical_basic.feature3.title') %></h6>
      <p><%= t('help.faq.numerical_basic.feature3.description') %></p>

      <h6><%= t('help.faq.numerical_basic.feature4.title') %></h6>
      <p><%= t('help.faq.numerical_basic.feature4.description') %></p>

      <p class="text-muted small"><%= t('help.faq.numerical_basic.note') %></p>
    </div>
  </div>
</div>