<h2><%= t(".title") %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>
      <%= t('devise.registrations.pending_reconfirmation', unconfirmed_email: resource.unconfirmed_email) %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <small class="text-muted">
        <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
      </small>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, t('activerecord.attributes.user.current_password') %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t("helpers.submit.update") %>
  </div>
<% end %>
  <div class="actions">
    <%= button_to t("devise.registrations.edit.cancel_my_account"), registration_path(resource_name),
      method: :delete,
      data: {
        confirm: t("devise.registrations.edit.confirm_delete"),
        turbo_confirm: t("devise.registrations.edit.confirm_delete")
      },
      class: "btn btn-outline-danger" %>
  </div>

<%= link_to t("helpers.link.back"), authenticated_root_path %>

