<%# ページのタイトル %>
<h2>Sign up</h2>

<%# Ruby on Railsヘルパー: form_for (Deviseの認証フォーム開始) %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%# 名前（name）の入力欄 %>
  <div class="field">
    <%= f.label :name %><br /> <%# Railsフォームヘルパー: name属性のラベルを表示 %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    <%# Railsフォームヘルパー: テキスト入力フィールドを生成 %>
  </div>

  <%# Eメールの入力欄 %>
  <div class="field">
    <%= f.label :email %><br /> <%# Railsフォームヘルパー: email属性のラベルを表示 %>
    <%= f.email_field :email, autocomplete: "email" %>
    <%# Railsフォームヘルパー: Eメール形式の入力フィールドを生成 %>
  </div>

  <%# パスワードの入力欄 %>
  <div class="field">
    <%= f.label :password %> <%# Railsフォームヘルパー: password属性のラベルを表示 %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <%# Ruby/ERBロジック: パスワード最小文字数（Deviseから提供されるインスタンス変数）を表示 %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <%# Railsフォームヘルパー: パスワード入力フィールドを生成 %>
  </div>

  <%# パスワード確認の入力欄 %>
  <div class="field">
    <%= f.label :password_confirmation %><br /> <%# Railsフォームヘルパー: password_confirmationのラベルを表示 %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <%# Railsフォームヘルパー: パスワード入力フィールドを生成 %>
  </div>

  <%# 登録ボタン %>
  <div class="actions">
    <%= f.submit "Sign up" %> <%# Railsフォームヘルパー: フォーム送信ボタンを生成 %>
  </div>
<% end %>

<%# Devise 認証関連のリンク %>
<%= render "devise/shared/links" %>
<%# Deviseが提供する共通パーシャル（_links.html.erb）を読み込み、ログインやパスワードリセットリンクを表示 %>

<%# ページのタイトル %>
<h2>Sign up</h2>

<%# Ruby on Railsヘルパー: form_for (Deviseの認証フォーム開始) %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%# 【Devise共通機能】バリデーションエラーメッセージの表示 %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%# Deviseが提供する共通パーシャル（_error_messages.html.erb）を読み込みます。
    # フォーム送信失敗時に、Userモデル（resource）のエラー内容を整形して表示します。 %>

  <%# 名前（name）の入力欄 %>
  <div class="field">
    <%= f.label :name %><br /> <%# Railsフォームヘルパー: name属性のラベルを表示 %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    <%# Railsフォームヘルパー: テキスト入力フィールドを生成 %>
  </div>

  <%# Eメールの入力欄 %>
  <div class="field">
    <%= f.label :email %><br /> <%# Railsフォームヘルパー: email属性のラベルを表示 %>
    <%= f.email_field :email, autocomplete: "email" %>
    <%# Railsフォームヘルパー: Eメール形式の入力フィールドを生成 %>
  </div>

  <%# パスワードの入力欄 %>
  <div class="field">
    <%= f.label :password %> <%# Railsフォームヘルパー: password属性のラベルを表示 %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <%# Ruby/ERBロジック: パスワード最小文字数（Deviseから提供されるインスタンス変数）を表示 %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <%# Railsフォームヘルパー: パスワード入力フィールドを生成 %>
  </div>

  <%# パスワード確認の入力欄 %>
  <div class="field">
    <%= f.label :password_confirmation %><br /> <%# Railsフォームヘルパー: password_confirmationのラベルを表示 %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <%# Railsフォームヘルパー: パスワード入力フィールドを生成 %>
  </div>

  <%# 登録ボタン %>
  <div class="actions">
    <%= f.submit "Sign up" %> <%# Railsフォームヘルパー: フォーム送信ボタンを生成 %>
  </div>
<% end %>


<%# 【Devise共通機能】認証関連のリンク %>
<%= render "devise/shared/links" %>
<%# Deviseが提供する共通パーシャル（_links.html.erb）を読み込み、ログインやパスワードリセットリンクを表示 %>