<%# ユーザー登録 %>
<% content_for :title, t('devise.registrations.new.title') %>
<%= render layout: 'devise/shared/auth_card_frame' do %>

  <%= render "devise/shared/tabs" %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :name, class: "form-label h5" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control form-control-lg" %>
    </div>

    <div class="mb-4">
      <%= f.label :email, class: "form-label h5" %><br />
      <%= f.email_field :email, autocomplete: "email", class: "form-control form-control-lg", placeholder: t('devise.sessions.new.email_placeholder') %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "form-label h5" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg", placeholder: t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: "form-label h5" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg", placeholder: t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
    </div>

    <div class="d-grid gap-2">
      <%= f.submit t('helpers.submit.create'), class: "btn btn-success btn-lg" %>
    </div>
  <% end %>

  <%# TOPへ戻るボタン（カード内の右下） %>
  <div class="text-end mt-4">
    <%= link_to root_path, class: "btn btn-outline-secondary btn-sm" do %>
      <i class="bi bi-arrow-left"></i>
      <%= t('landing.back_to_top') %>
    <% end %>
  </div>

<% end %>
