<%# テナント詳細表示 %>
<% company = local_assigns[:company] %>
<% company_class = company.class %>

<div class="pt-1">
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3 border-bottom py-3">
        <label class="form-label mb-0 text-muted" style="font-size: 1.0em;"><%= company_class.human_attribute_name(:name) %></label>
        <div class="text-dark text-center pt-2" style="font-size: 1.1em; font-weight: 500;">
          <%= company.name %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3 border-bottom py-3">
        <label class="form-label mb-0 text-muted" style="font-size: 1.0em;"><%= company_class.human_attribute_name(:slug) %></label>
        <div class="text-dark text-center pt-2" style="font-size: 1.1em; font-weight: 500;">
          <%= company.slug %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3 border-bottom py-3">
        <label class="form-label mb-0 text-muted" style="font-size: 1.0em;"><%= company_class.human_attribute_name(:created_at) %></label>
        <div class="text-dark text-center pt-2" style="font-size: 1.1em; font-weight: 500;">
          <%= l(company.created_at.to_date, format: :default) %>
        </div>
      </div>
    </div>
  </div>
</div>
