<%= content_for(:title, t('admin.companies.index.title')) %>

<div data-controller="resource-search">
  <%= render 'shared/layouts/header_with_actions',
    title: t('admin.companies.index.title'),
    resource: nil,
    is_index_page: true,
    is_form_page: false,
    is_show_page: false,
    new_path: nil,
    new_button_text: nil,
    skip_store_check: true %>

  <%= render 'shared/forms/search_form',
      form_path: scoped_path(:admin_companies_path),
      search_placeholder: t('admin.companies.index.search.placeholder'),
      sort_options: [
        [t('admin.companies.index.sort_options.slug'), 'subdomain'],
        [t('admin.companies.index.sort_options.created_at'), 'created_at']
      ],
      sort_by: params[:sort_by],
      category_options: nil,
      hide_category: true %>

  <%= render 'shared/components/resource_list',
      resources: @companies,
      resource_class: Company,
      search_target: nil,
      sort_options: nil,
      sort_placeholder: nil,
      icon_mode: true,
      show_copy: false,
      show_print: false,
      scope: [:admin],

      columns: [
        { header: :name, data: Proc.new { |company| company.name } },
        { header: :subdomain, data: Proc.new { |company| company.slug } },
        { header: :created_at, data: Proc.new { |company| l(company.created_at.to_date, format: :default) } }
      ]
  %>

  <%= paginate @companies, theme: 'bootstrap-5' %>
</div>
