<%# app/views/devise/passwords/edit.html.erb %>
<% content_for :page_title, t('devise.passwords.edit.title') %>
<%= render layout: 'devise/shared/auth_card_frame' do %>

  <h2 class="text-center mb-4"><%= t("devise.passwords.edit.title") %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="mb-4">
      <%= f.label :password, t("activerecord.attributes.user.password"), class: "form-label h5" %>
      <% if @minimum_password_length %>
        <small class="text-muted d-block">
          <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
        </small>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control form-control-lg" %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, t("activerecord.attributes.user.password_confirmation"), class: "form-label h5" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg" %>
    </div>

    <div class="d-grid gap-2">
      <%= f.submit t("devise.passwords.edit.submit"), class: "btn btn-primary btn-lg" %>
    </div>

    <%# ログイン画面に戻るリンク %>
    <div class="text-center mt-3">
      <%= link_to t("devise.shared.links.sign_in"), new_session_path(resource_name), class: "text-decoration-none" %>
    </div>
  <% end %>

<% end %>