<%# 呼び出し元から title を受け取ることを想定 %>
<%= content_for :page_title, title %>
<%# flexコンテナの子要素を左右を均等にして上下も中央揃えにする %>
<div class="d-flex justify-content-between al">
  <h2><%= title %></h2>
</div>
<%# resource: モデルインスタンス, back_path: 戻り先パス をローカル変数として受け取る %>
<div id="<%= dom_id(resource, :form) %>">

  <%= form_with(model: resource,
                local: true,
                **(defined?(form_options) ? form_options : {})) do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="card p-4 mb-4">

      <%# 固有のフォーム項目をブロックとして挿入 %>
      <%= yield f %>

      <div class="actions mt-4">
        <% button_text = resource.persisted? ? t('helpers.submit.update') : t('helpers.submit.create') %>
        <%= f.submit button_text, class: "btn btn-success me-2" %>

        <%= link_to t('helpers.link.back'), back_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  <% end %>
</div>