<%# locals で渡された title, resource, content_left_title/edit_path, content_right_title/edit_path をそのまま使用します %>
<%= content_for :page_title, title %>

<%#  ページタイトルと上部アクションボタン %>
<div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <h2><%= title %></h2>
  </div>

  <div class="actions-top">
    <%= link_to t('helpers.link.back', default: '戻る'), url_for(resource.class), class: "btn btn-secondary" %>
  </div>
</div>

<%# 2カラムコンテンツ (content_for で定義されたものを呼び出す) %>
<div class="row">

  <%# 左カラム %>
  <div class="col-md-6 mb-4">
    <div class="card shadow-sm h-100 p-3">

      <%# タイトルと編集ボタン %>
      <div class="d-flex justify-content-between align-items-center mb-3">
          <div class="card-title h5 mb-0" style="font-size: 1.5em;"><%= content_left_title %></div>
          <%= link_to t('helpers.submit.edit', default: '編集'), content_left_edit_path, class: "btn btn-sm btn-primary" %>
      </div>

      <%# 左カラムの内容を呼び出す %>
      <%= yield :content_left %>
    </div>
  </div>

  <%# 右カラム %>
  <div class="col-md-6 mb-4">
    <div class="card shadow-sm h-100 p-3">

      <%# タイトルと編集ボタン %>
      <div class="d-flex justify-content-between align-items-center mb-3">
          <div class="card-title h5 mb-0" style="font-size: 1.5em;"><%= content_right_title %></div>
          <%= link_to t('helpers.submit.edit', default: '編集'), content_right_edit_path, class: "btn btn-sm btn-primary" %>
      </div>

      <%# 右カラムの内容を呼び出す %>
      <%= yield :content_right %>
    </div>
  </div>
</div>