<%= content_for :page_title, title %>

<%#  ページタイトルと上部アクションボタン %>
<div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <h2><%= title %></h2>
  </div>

  < <%# 共通パーシャル %>
  <%= render 'shared/actions/resource_header_actions', resource: resource, is_show_page: true %>
</div>
<%# 2カラムコンテンツ (content_for で定義されたものを呼び出す) %>
<div class="row">

  <%# 左カラム %>
  <div class="col-md-6 mb-4">
    <div class="card shadow-sm h-100 p-3">

      <%# タイトル%>
      <div class="d-flex justify-content-between align-items-center mb-3">
          <div class="card-title h5 mb-0" style="font-size: 1.5em;"><%= content_left_title %></div>
      </div>

      <%# 左カラムの内容 %>
      <%= yield :content_left %>
    </div>
  </div>

  <%# 右カラム %>
  <div class="col-md-6 mb-4">
    <div class="card shadow-sm h-100 p-3">

      <%# タイトル %>
      <div class="d-flex justify-content-between align-items-center mb-3">
          <div class="card-title h5 mb-0" style="font-size: 1.5em;"><%= content_right_title %></div>
      </div>

      <%# 右カラムの内容  %>
      <%= yield :content_right %>
    </div>
  </div>
</div>