<%# 検索フォームの送信先URL (form_path) を呼び出し元からローカル変数として受け取る %>
<%= form_with url: form_path,
                    method: :get,
                    local: true,
                    class: "mb-3" do |f| %>

  <%# d-flex/rowを使って全体を横並びにするラッパー要素を追加 %>
  <div class="d-flex flex-row align-items-center">
    <%# mapで配列化してhumanizeで翻訳する→ユーザーとシステムの差別化 %>
    <div class="p-1" style="min-width: 200px;" >
      <%= f.select :category_type,
          options_for_select(
            Category.category_types.keys.map { |k| [k.humanize, k ] },
            params[:category_type]
          ),
          { include_blank: "種別を選択" },
          { class: "form-control custom-select" } %>
    </div>

    <%# 2. 名前検索フィールドとボタンのグループ %>
    <div class="p-1" style="min-width: 300px;">
    <%# 要素をひとまとめにして、入力値も維持  %>
      <div class="input-group">
        <%= f.text_field :q,
          value: params[:q],
          class: "form-control",
          placeholder: "カテゴリ－名を入力" %>
        <%# 右にぴったりくっつける %>
        <div class="input-group-append" >
          <%= f.submit "検索", class: "btn btn-primary" %>
          <%# クリアボタンのリンク先も変更 %>
          <% if params[:q].present? || params[:category_type].present? %>
            <%= link_to "クリア", form_path,  class: "btn btn-outline-secondary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
