<%# 呼び出し元から search_target (:category_type または :category_id) を受け取る %>
<%= form_with url: form_path,
                    method: :get,
                    local: true,
                    class: "mb-3" do |f| %>

  <%# d-flex/rowを使って全体を横並びにするラッパー要素を追加 %>
  <div class="d-flex flex-row align-items-center">
  <%# 絞り込みフィールドの追加 (search_target に応じて切り替え) %>
  <%# 定義されていて且つ、偽でないか？　%>
  <% if defined?(search_target) && search_target %>
    <%# mapで配列化してhumanizeで翻訳する→ユーザーとシステムの差別化 %>
    <div class="p-1 me-3"  style="min-width: 200px;">
      <% if search_target == :category_type %>
        <%= f.select :category_type,
            options_for_select(
              Category.category_types.keys.map { |k|
                #  k.humanize を I18n.t(...) に修正
                [I18n.t("activerecord.attributes.category.category_types.#{k}"), k]  },
              params[:category_type]
            ),
            { include_blank: t('search.placeholders.select_type') },
            { class: "form-control custom-select" } %>
      <%#カテゴリー管理以外での検索機能 %>
      <% elsif search_target == :category_id %>
        <%= f.select :category_id,
            options_from_collection_for_select(
            Category.all,
            :id,
            :name,
            params[:category_id]
          ),
          { include_blank: t('search.placeholders.select_category') },
          { class: "form-control custom-select" } %>
      <% end %>

    </div>
    <% end %>

    <%# 2. 名前検索フィールドとボタンのグループ %>
    <div class="p-1" style="min-width: 300px;">
    <%# 要素をひとまとめにして、入力値も維持  %>
      <div class="input-group">
        <%= f.text_field :q,
          value: params[:q],
          class: "form-control",
          placeholder: t('search.placeholders.enter_name') %>
        <%# 右にぴったりくっつける %>
        <div class="input-group-append" >
          <%= f.submit t('common.search'), class: "btn btn-primary" %>
          <%# クリアボタンのリンク先も変更 %>
          <% if params[:q].present? || params[:category_type].present? || params[:category_id].present? %>
            <%= link_to t('common.clear'), form_path,  class: "btn btn-outline-secondary" %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
<% end %>
