<%# 商品原材料行 %>
<%
  unique_id = f.object.persisted? ? "existing_#{f.object.id}" : "new_#{f.object.object_id}"
  category_id ||= local_assigns[:category_id] || f.object.material&.category_id || 0

  if category_id == 0
    materials = Resources::Material.order(:name)
  else
    materials = Resources::Material.where(category_id: category_id).order(:name)
  end

  unit_weight = f.object.unit_weight
  unit_weight_display = unit_weight && unit_weight > 0 ? (unit_weight.to_i == unit_weight ? unit_weight.to_i : unit_weight) : t('helpers.no_setting')
%>

<tr class="nested-fields"
    data-controller="form--nested-form-item resources--product-material--material"
    data-unique-id="<%= unique_id %>"
    data-category-id="<%= category_id %>">

  <%= f.hidden_field :_destroy, value: f.object.marked_for_destruction? ? 1 : 0,
                  data: { 'form--nested-form-item-target': 'destroy' } %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :unit_id,
                    value: f.object.unit_id || f.object.material&.unit_for_product_id,
                    data: { 'resources--product-material--material-target': 'unitIdInput' } %>

  <td>
    <%= f.collection_select(:material_id, materials, :id, :name,
      { include_blank: t('helpers.prompt.select') },
      { class: 'form-select',
        data: {
          action: 'change->resources--product-material--material#updateUnit change->resources--product-material--material#syncMaterialToOtherTabs',
          'resources--product-material--material-target': 'materialSelect',
          'unique-id': unique_id
        }
      }) %>
  </td>

  <td>
    <%= f.text_field :quantity,
      class: 'form-control',
      inputmode: 'decimal',
      placeholder: t('helpers.forms.quantity_placeholder'),
      data: {
        controller: 'input--number-input',
        'number-input-no-comma': 'true',
        'number-input-decimal-field': 'true',
        'resources--product-material--material-target': 'quantityInput',
        action: 'input->input--number-input#handleInput input->resources--product-material--material#syncQuantityToOtherTabs paste->input--number-input#handlePaste focus->input--number-input#handleFocus blur->input--number-input#handleBlur',
        'unique-id': unique_id
      } %>
  </td>

  <td>
    <%= f.text_field :unit_weight,
      class: 'form-control',
      inputmode: 'decimal',
      placeholder: t('products.product_material_fields.unit_weight_placeholder'),
      data: {
        controller: 'input--number-input',
        'number-input-no-comma': 'true',
        'number-input-decimal-field': 'true',
        'resources--product-material--material-target': 'unitWeightInput',
        action: 'input->input--number-input#handleInput input->resources--product-material--material#syncUnitWeightToOtherTabs paste->number-input#handlePaste focus->number-input#handleFocus blur->number-input#handleBlur',
        'unique-id': unique_id
      } %>
  </td>

  <td>
    <span data-resources--product-material--material-target="unitDisplay" class="fw-bold">
      <%= f.object.material&.unit_for_product&.name || t('helpers.no_setting') %>
    </span>
  </td>

  <td class="text-end">
    <button type="button"
      class="btn btn-sm btn-danger"
      data-action="click->form--nested-form-item#remove"
      data-unique-id="<%= unique_id %>"
      title="<%= t('helpers.link.destroy') %>">
      <i class="bi bi-trash"></i>
    </button>
  </td>
</tr>
