<%# 商品原材料フォームフィールド %>
<div class="card mb-3">
  <div class="card-header bg-light">
    <h5 class="mb-0"><i class="bi bi-box-seam me-2"></i><%= t('forms.titles.product_material') %></h5>
  </div>
  <div class="card-body">
    <div data-controller="resources--product-material--material form--nested-form tabs--category-tabs"
        data-resources--product-material--material-target="totalContainer">

      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex justify-content-start align-items-center">
          <%= select_tag("category_selector",
              options_from_collection_for_select(@material_categories, :id, :name),
              prompt: t('products.category_selector.prompt'),
              class: 'form-select me-2',
              style: 'width: 250px;',
              data: {
                'tabs--category-tabs-target': 'categorySelector',
                'action': 'change->tabs--category-tabs#toggleButton'
              }
          ) %>
          <button type="button"
                  class="btn btn-primary"
                  data-action="click->tabs--category-tabs#showSelectedTab"
                  data-tabs--category-tabs-target="showButton"
                  disabled>
            <%= t('products.category_selector.add_button') %>
          </button>
        </div>
      </div>

      <div class="nav nav-tabs" role="tablist" data-tabs--category-tabs-target="tabNav">
        <button class="nav-link active"
                id="nav-0-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-0"
                type="button"
                role="tab"
                aria-controls="nav-0"
                aria-selected="true"
                data-category-id="0">
          <%= t('products.tab_all') %>
        </button>

        <% displayed_category_ids = @product.product_materials.map { |pm| pm.material&.category_id }.compact.uniq %>
        <% @material_categories.select { |c| displayed_category_ids.include?(c.id) }.each do |category| %>
          <button class="nav-link position-relative"
                  id="nav-<%= category.id %>-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-<%= category.id %>"
                  type="button"
                  role="tab"
                  aria-controls="nav-<%= category.id %>"
                  aria-selected="false"
                  data-category-id="<%= category.id %>"
                  style="padding-right: 2.5rem;">
            <%= category.name %>
            <span class="position-absolute top-50 end-0 translate-middle-y pe-2"
                  style="cursor: pointer; font-weight: bold; color: #dc3545;"
                  data-action="click->tabs--category-tabs#deleteTab"
                  data-category-id="<%= category.id %>">
              ×
            </span>
          </button>
        <% end %>
      </div>

      <div class="tab-content pt-3" data-tabs--category-tabs-target="contentContainer">
        <div class="tab-pane fade show active"
              id="nav-0"
<%# DEBUG: 全てタブの items を確認 %>
<% Rails.logger.debug "====== ALL TAB ITEMS =======" %>
<% @product.product_materials.reject(&:marked_for_destruction?).each_with_index do |pm, i| %>
  <% Rails.logger.debug "Item #{i+1}: material=#{pm.material&.name}, category_id=#{pm.material&.category_id}" %>
<% end %>
<% Rails.logger.debug "============================" %>
              role="tabpanel"
              aria-labelledby="nav-0-tab"
              data-category-id="0">
          <%= render 'shared/components/tabs/category_tab_content',
            category_id: 0,
            items: @product.product_materials.select { |pm| pm.marked_for_destruction? == false },
            form_builder: f,
            association_name: :product_materials,
            item_partial: 'material_fields',
              table_headers: %{
                <tr>
                  <th style="width: 35%;">#{t('products.table_headers.material_name')}</th>
                  <th style="width: 15%;">#{t('products.table_headers.quantity')}</th>
                  <th style="width: 20%;">#{t('products.table_headers.unit')}</th>
                  <th style="width: 20%;">#{t('products.table_headers.unit_weight')}</th>
                  <th style="width: 10%;" class="text-end">#{t('common.action')}</th>
                </tr>
              },
              add_button_text: t('products.add_material_button') %>
        </div>

        <% @material_categories.select { |c| displayed_category_ids.include?(c.id) }.each do |category| %>
          <div class="tab-pane fade"
                id="nav-<%= category.id %>"
                role="tabpanel"
                aria-labelledby="nav-<%= category.id %>-tab"
                data-category-id="<%= category.id %>">
            <%= render 'shared/components/tabs/category_tab_content',
                category_id: category.id,
                items: @product.product_materials.select { |pm| pm.material&.category_id == category.id && !pm.marked_for_destruction? },
                form_builder: f,
                association_name: :product_materials,
                item_partial: 'material_fields',
                table_headers: %{
                  <tr>
                    <th style="width: 35%;">#{t('products.table_headers.material_name')}</th>
                    <th style="width: 15%;">#{t('products.table_headers.quantity')}</th>
                    <th style="width: 20%;">#{t('products.table_headers.unit_weight')}</th>
                    <th style="width: 20%;">#{t('products.table_headers.unit')}</th>
                    <th style="width: 10%;" class="text-end">#{t('common.action')}</th>
                  </tr>
                },
                add_button_text: t('products.add_material_button') %>
          </div>
        <% end %>
      </div>

      <template data-tabs--category-tabs-target="categoryTemplate">
        <button class="nav-link position-relative"
                id="nav-CATEGORY_ID_PLACEHOLDER-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-CATEGORY_ID_PLACEHOLDER"
                type="button"
                role="tab"
                aria-controls="nav-CATEGORY_ID_PLACEHOLDER"
                aria-selected="false"
                data-category-id="CATEGORY_ID_PLACEHOLDER"
                style="padding-right: 2.5rem;">
          CATEGORY_NAME_PLACEHOLDER
          <span class="position-absolute top-50 end-0 translate-middle-y pe-2"
                style="cursor: pointer; font-weight: bold; color: #dc3545;"
                data-action="click->tabs--category-tabs#removeTab"
                data-category-id="CATEGORY_ID_PLACEHOLDER">
            ×
          </span>
        </button>
      </template>

      <template data-tabs--category-tabs-target="categoryPaneTemplate">
        <div class="tab-pane fade"
              id="nav-CATEGORY_ID_PLACEHOLDER"
              role="tabpanel"
              aria-labelledby="nav-CATEGORY_ID_PLACEHOLDER-tab"
              data-category-id="CATEGORY_ID_PLACEHOLDER">

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width: 35%;"><%= t('products.table_headers.material_name') %></th>
                  <th style="width: 15%;"><%= t('products.table_headers.quantity') %></th>
                  <th style="width: 20%;"><%= t('products.table_headers.unit_weight') %></th>
                  <th style="width: 20%;"><%= t('products.table_headers.unit') %></th>
                  <th style="width: 10%;" class="text-end"><%= t('common.action') %></th>
                </tr>
              </thead>
              <tbody data-form--nested-form-target="target" data-category-id="CATEGORY_ID_PLACEHOLDER">
              </tbody>
            </table>

            <div class="mt-3">
              <button type="button"
                      class="btn btn-outline-success w-100"
                      data-category-id="CATEGORY_ID_PLACEHOLDER"
                      data-template-id="material_fields_template_CATEGORY_ID_PLACEHOLDER"
                      data-action="click->form--nested-form#add">
                <%= t('products.add_material_button') %>
              </button>
            </div>
          </div>
        </div>
      </template>

      <%# 「全て」タブ用のテンプレート（category_id: 0） %>
      <template id="material_fields_template_0" data-form--nested-form-target="template">
        <%= f.fields_for :product_materials,
            @product.product_materials.build(material: Resources::Material.new(category_id: 0)),
            child_index: 'NEW_RECORD' do |material_f| %>
          <%= render 'material_fields', f: material_f, category_id: 0 %>
        <% end %>
      </template>

      <%# 各カテゴリー用のテンプレート %>
      <% @material_categories.each do |category| %>
        <template id="material_fields_template_<%= category.id %>" data-form--nested-form-target="template">
          <%= f.fields_for :product_materials,
              @product.product_materials.build(material: Resources::Material.new(category_id: category.id)),
              child_index: 'NEW_RECORD' do |material_f| %>
            <%= render 'material_fields', f: material_f, category_id: category.id %>
          <% end %>
        </template>
      <% end %>

    </div>
  </div>
</div>
