<%= content_for(:title, t('admin.stores.index.title')) %>

<div data-controller="resource-search">
  <%= render 'shared/layouts/header_with_actions',
    title: t('admin.stores.index.title'),
    resource: nil,
    is_index_page: true,
    is_form_page: false,
    is_show_page: false,
    new_path: (current_user.company_admin? || current_user.super_admin?) ? new_admin_store_path : nil,
    new_button_text: t('admin.stores.new.title'),
    skip_store_check: true %>

  <%= render 'shared/forms/search_form',
      form_path: scoped_path(:admin_stores_path),
      search_placeholder: t('admin.stores.index.search.placeholder'),
      sort_options: [
        [t('admin.stores.index.sort_options.company'), 'company'],
        [t('admin.stores.index.sort_options.code'), 'code'],
        [t('admin.stores.index.sort_options.created_at'), 'created_at']
      ],
      sort_by: params[:sort_by],
      category_options: nil,
      hide_category: true %>

  <%= render 'shared/components/resource_list',
      resources: @stores,
      resource_class: Store,
      search_target: nil,
      search_name_proc: Proc.new { |store| "#{store.code} #{store.name}" },
      sort_options: nil,
      sort_placeholder: nil,
      icon_mode: true,
      show_copy: false,
      show_print: false,
      edit_link: !current_user.store_admin?,
      destroy_link: !current_user.store_admin?,
      scope: [:admin],

      columns: [
        { header: :company, data: Proc.new { |store| store.company&.name || '-' } },
        { header: :code, data: Proc.new { |store| store.code } },
        { header: :name, data: Proc.new { |store| store.name } },
        { header: :invitation_code, data: Proc.new { |store| store.invitation_code } },
        { header: :users_count, data: Proc.new { |store| store.users_count } },
        { header: :created_at, data: Proc.new { |store| l(store.created_at.to_date, format: :default) } }
      ]
  %>

  <%= paginate @stores, theme: 'bootstrap-5' %>
</div>
