<%# 2カラムレイアウトコンテナ %>
<%#
  機能:
  - フォーム内の2カラムレイアウトを提供
  - 左カラム：基本情報、右カラム：詳細情報

  必須引数:
  - f: フォームビルダー
  - basic_fields: 左カラムのパーシャル名
  - detail_fields: 右カラムのパーシャル名

  オプション引数:
  - content_left_title: 左カラムのタイトル
  - content_right_title: 右カラムのタイトル
  - resource: リソースオブジェクト
%>
<% content_left_title = local_assigns[:content_left_title] %>
<% content_right_title = local_assigns[:content_right_title] %>

<div class="row">
  <%# 左カラム：基本情報 %>
  <div class="col-md-6">
    <% if content_left_title %>
      <div class="card mb-3">
        <div class="card-header bg-light">
          <h5 class="mb-0"><%= content_left_title %></h5>
        </div>
        <div class="card-body">
          <%= render basic_fields, f: f %>
        </div>
      </div>
    <% else %>
      <%= render basic_fields, f: f %>
    <% end %>
  </div>

  <%# 右カラム：詳細情報 %>
  <div class="col-md-6">
    <% if content_right_title %>
      <div class="card mb-3">
        <div class="card-header bg-light">
          <h5 class="mb-0"><%= content_right_title %></h5>
        </div>
        <div class="card-body">
          <%= render detail_fields, f: f %>
        </div>
      </div>
    <% else %>
      <%= render detail_fields, f: f %>
    <% end %>
  </div>
</div>
