<%# リソースアクションリンク %>
<% show_link = local_assigns.fetch(:show_link, true) %>
<% show_print = local_assigns.fetch(:show_print, false) %>
<% print_url = local_assigns[:print_url] %>
<% show_copy = local_assigns.fetch(:show_copy, false) %>
<% copy_url = local_assigns[:copy_url] %>
<% icon_mode = local_assigns.fetch(:icon_mode, false) %>
<% scope = local_assigns.fetch(:scope, nil) %>

<% return if resource.nil? %>

<div class="d-flex">
  <% if icon_mode %>
    <% if show_link %>
      <%= link_to resource_path_with_scope(resource, scope),
          class: 'btn btn-sm btn-light me-1',
          title: t('helpers.link.show') do %>
        <i class="bi bi-eye"></i>
      <% end %>
    <% end %>

    <%= link_to resource_path_with_scope(resource, scope, :edit),
        class: 'btn btn-sm btn-light me-1',
        title: t('helpers.link.edit') do %>
      <i class="bi bi-pencil"></i>
    <% end %>

    <% if show_copy && copy_url.present? %>
      <%= link_to copy_url,
          method: :post,
          class: 'btn btn-sm btn-light me-1',
          title: t('helpers.link.copy'),
          data: { 
            turbo_method: :post,
            turbo_confirm: t('helpers.confirm.copy', resource: resource.class.model_name.human) 
          } do %>
        <i class="bi bi-files"></i>
      <% end %>
    <% end %>

    <% if show_print && print_url.present? %>
      <%= link_to print_url,
          class: 'btn btn-sm btn-light me-1',
          title: t('helpers.link.print'),
          target: '_blank' do %>
        <i class="bi bi-printer"></i>
      <% end %>
    <% end %>

    <%= link_to resource_path_with_scope(resource, scope),
        class: 'btn btn-sm btn-danger',
        title: t('helpers.link.destroy'),
        data: { 
          turbo_method: :delete,
          turbo_confirm: t('helpers.confirm.destroy', resource: resource.class.model_name.human) 
        } do %>
      <i class="bi bi-trash"></i>
    <% end %>
  <% else %>
    <% if show_link %>
      <%= link_to t('helpers.link.show'), resource_path_with_scope(resource, scope), class: 'btn btn-sm btn-light me-1' %>
    <% end %>
    <%= link_to t('helpers.link.edit'), resource_path_with_scope(resource, scope, :edit), class: 'btn btn-sm btn-light me-1' %>
    <% if show_copy && copy_url.present? %>
      <%= link_to t('helpers.link.copy'), copy_url, 
          class: 'btn btn-sm btn-light me-1',
          data: { 
            turbo_method: :post,
            turbo_confirm: t('helpers.confirm.copy', resource: resource.class.model_name.human) 
          } %>
    <% end %>
    <% if show_print && print_url.present? %>
      <%= link_to t('helpers.link.print'), print_url, class: 'btn btn-sm btn-light me-1', target: '_blank' %>
    <% end %>
    <%= link_to t('helpers.link.destroy'), resource_path_with_scope(resource, scope), 
        class: 'btn btn-sm btn-danger',
        data: { 
          turbo_method: :delete,
          turbo_confirm: t('helpers.confirm.destroy', resource: resource.class.model_name.human) 
        } %>
  <% end %>
</div>
