<%# units: ローカル変数として渡された単位のコレクション %>
<table class="table mt-4">
  <thead class="table-light">
    <tr>
      <th><%= Unit.human_attribute_name(:name) %></th>
      <th><%= Unit.human_attribute_name(:category) %></th>
      <th><%= t('common.action') %></th>
    </tr>
  </thead>
  <tbody>
    <% units.each do |unit| %>
      <tr>
        <td><%= unit.name %></td>
        <td><%= unit.category_i18n %></td>
        <td>
          <%# 集合部品でアクションカラム全体を生成 %>
          <%= render 'shared/actions/action_links',
              resource: unit,
              resource_name: Unit.model_name.human,
              show_link: false # 詳細リンクを非表示
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>