<%# categories: ローカル変数として渡されたカテゴリのコレクション %>
<table class="table mt-4">
  <thead class="table-light">
    <tr>
      <th><%= Category.human_attribute_name(:name) %></th>
      <th><%= Category.human_attribute_name(:category_type) %></th>
      <th><%= t('helpers.action') %></th>
    </tr>
  </thead>
  <tbody>
    <% categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.category_type %></td>
        <td>
          <%# 詳細画面がないため、編集と削除アクションを配置 %>
          <%= link_to t('helpers.link.edit'), edit_category_path(category) %>

          <%= button_to "削除", category_path(category),
              method: :delete,
              data: { turbo_confirm: "本当に削除しますか？" },
              class: "btn btn-danger btn-sm",
              form: { style: "display: inline-block;" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
