<%# categories: ローカル変数として渡されたカテゴリのコレクション %>
<table class="table mt-4">
  <thead class="table-light">
    <tr>
      <th><%= Category.human_attribute_name(:name) %></th>
      <th><%= Category.human_attribute_name(:category_type) %></th>
      <th><%= t('common.action') %></th>
    </tr>
  </thead>
  <tbody>
    <% categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <%# category_type_i18n メソッドを呼び出す %>
        <td><%= category.category_type_i18n %></td>
        <td>
          <%# 詳細画面がないため、編集と削除アクションを配置 %>
          <%= link_to t('helpers.link.edit'), edit_category_path(category) %>

          <%= button_to t('helpers.link.destroy'), category_path(category),
              method: :delete,
              data: { turbo_confirm: t('helpers.confirm.destroy'), resource: Category.model_name.human },
              class: "btn btn-danger btn-sm",
              form: { style: "display: inline-block;" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
