<%# categories: ローカル変数として渡されたカテゴリのコレクション %>
<table class="table mt-4">
  <thead class="table-light">
    <tr>
      <th><%= Category.human_attribute_name(:name) %></th>
      <th><%= Category.human_attribute_name(:category_type) %></th>
      <th><%= t('common.action') %></th>
    </tr>
  </thead>
  <tbody>
    <% categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <%# category_type_i18n メソッドを呼び出す %>
        <td><%= category.category_type_i18n %></td>
        <td>
          <%# 集合部品でアクションカラム全体を生成 %>
          <%= render 'shared/actions/action_links',
              resource: category,
              resource_name: Category.model_name.human,
              show_link: false # 詳細リンクを非表示
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
