<h1>カテゴリー編集</h1>

<%# form_withに @category を渡すことで、自動的に update アクションへ送信 %>
<%= form_with model: @category do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :category_type %>
    <%= f.select :category_type, Category.category_types.keys %>
  </div %>

  <%= f.submit "更新" %>
<% end %>

<hr>
<%= link_to 'カテゴリー一覧へ戻る', categories_path %>
