<h1>新規カテゴリー登録</h1>

<%# form_withに model: @category を渡すことで、新規作成（createアクションへのPOST）と自動的に判断される %>
<%= form_with model: @category do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :category_type %>
    <%# 選択肢にはキ<ーの文字列がそのまま表示されます %>
    <%= f.select :category_type, Category.category_types.keys %>
  </div %>

  <%= f.submit "登録" %>
<% end %>
