<h1><%= t('.title') %></h1>

<%# パーシャルを呼び出し、@categoryを渡す %>
<%= render 'shared/error_messages', resource: @category %>

<%# form_withに model: @category を渡すことで、新規作成（createアクションへのPOST）と自動的に判断される %>
<%= form_with model: @category do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :category_type %>
    <%# 選択肢にはキ<ーの文字列がそのまま表示されます %>
    <%= f.select :category_type, Category.category_types.keys %>
  </div %>

  <%= f.submit t("helpers.submit.create") %>
<% end %>
<%# 一覧画面へのリンク %>
<%= link_to t('helpers.link.back'), categories_path %>
