<div class="mb-3">
<%# newとcreateの共通利用。local: true不要で同期通信 %>
<%= form_with(model: @material) do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

  <%# 原材料名 %>
  <div class="mb-3">
  <%# <input>要素に適切な縦の間隔（マージン）を設定%>
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%# 商品単位 %>
  <div class="mb-3">
    <%= f.label :unit_for_product, class: "form-label" %>
    <%= f.text_field :unit_for_product, class: "form-control" %>
  </div>

  <%# 商品単位あたりの重量 %>
  <div class="mb-3">
    <%= f.label :unit_weight_for_product, class: "form-label" %>
    <%# 'step: :any'でスピナー対応%>
    <%= f.number_field :unit_weight_for_product, step: :any, class: "form-control" %>
  </div>

  <%# 発注単位 %>
  <div class="mb-3">
    <%= f.label :unit_for_order, class: "form-label" %>
    <%= f.text_field :unit_for_order, class: "form-control" %>
  </div>

  <%# 発注単位あたりの重量 %>
  <div class="mb-3">
    <%= f.label :unit_weight_for_order, class: "form-label" %>
    <%= f.number_field :unit_weight_for_order, step: :any, class: "form-control" %>
  </div>

  <%# カテゴリー%>
  <div class="mb-3">
    <%= f.label :category_id, class: "form-label" %>
    <%# カテゴリーデータを使用してプルダウンメニュー(<select>)を生成 %>
    <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "選択してください" }, class: "form-select" %>
  </div>

  <div class="actions mt-4">
  <%# <button>の生成$ %>
  <%= f.submit "登録", class: "btn btn-success" %>
  <%# ボタンは練習で色付け %>
  <%= link_to '一覧へ戻る', materials_path, class: "btn btn-outline-secondary" %>
<% end %>