<%# resource: Materialインスタンス をローカル変数として受け取る %>
<% material_class = material.class %>
<% no_setting = t('helpers.no_setting') %>

<dl class="row mb-3">

  <%# 名前 %>
  <dt class="col-sm-3"><%= material_class.human_attribute_name(:name) %></dt>
  <dd class="col-sm-9">
    <div class="form-control-plaintext">
      <%= material.name.presence || no_setting %>
    </div>
  </dd>

  <%# 商品単位 %>
  <dt class="col-sm-3"><%= material_class.human_attribute_name(:unit_for_product) %></dt>
  <dd class="col-sm-9">
    <div class="form-control-plaintext">
      <%= material.unit_for_product.presence || no_setting %>
    </div>
  </dd>

  <%# 商品単位あたりの重量 %>
  <dt class="col-sm-3"><%= material_class.human_attribute_name(:unit_weight_for_product) %></dt>
  <dd class="col-sm-9">
    <div class="form-control-plaintext">
      <%= material.unit_weight_for_product ? number_with_precision(material.unit_weight_for_product, precision: 3) : no_setting %>
    </div>
  </dd>

  <%# 発注単位 %>
  <dt class="col-sm-3"><%= material_class.human_attribute_name(:unit_for_order) %></dt>
  <dd class="col-sm-9">
    <div class="form-control-plaintext">
      <%= material.unit_for_order.presence || no_setting %>
    </div>
  </dd>

  <%# 発注単位あたりの重量 %>
  <dt class="col-sm-3"><%= material_class.human_attribute_name(:unit_weight_for_order) %></dt>
  <dd class="col-sm-9">
    <div class="form-control-plaintext">
      <%= material.unit_weight_for_order ? number_with_precision(material.unit_weight_for_order, precision: 3) : no_setting %>
    </div>
  </dd>

  <%# カテゴリー %>
  <% if material.category.present? %>
    <dt class="col-sm-3"><%= material_class.human_attribute_name(:category) %></dt>
    <dd class="col-sm-9">
      <div class="form-control-plaintext">
        <%= material.category.name || no_setting %>
      </div>
    </dd>
  <% end %>

</dl>