<div class="row">
  <%# 左カラム: 原材料名 %>
  <div class="col-md-6">
    <%= form_group_lg(f, :name) %>
  </div>

  <%# 右カラム: カテゴリー %>
  <div class="col-md-6">
    <%= form_group_lg(f, :category_id,
        field_type: :collection_select,
        collection: @material_categories
    ) %>
  </div>
</div>

<div class="row">
  <%# 左カラム: 商品単位 %>
  <div class="col-md-6">
    <%= form_group_lg(f, :unit_for_product_id,
        field_type: :collection_select,
        collection: current_user.units.where(category: :production),
        label: Material.human_attribute_name(:unit_for_product)
    ) %>
  </div>

  <%# 右カラム: 商品単位あたりの重量 %>
  <div class="col-md-6">
    <%= form_group_lg(f, :unit_weight_for_product,
        field_type: :number_field,
        step: :any
    ) %>
  </div>
</div>

<div class="row">
  <%# 左カラム: 発注単位 %>
  <div class="col-md-6">
    <%= form_group_lg(f, :unit_for_order_id,
        field_type: :collection_select,
        collection: current_user.units.where(category: :ordering),
        label: Material.human_attribute_name(:unit_for_order)
    ) %>
  </div>

  <%# 右カラム: 発注単位あたりの重量 %>
  <div class="col-md-6">
    <%= form_group_lg(f, :unit_weight_for_order,
        field_type: :number_field,
        step: :any
    ) %>
  </div>
</div>

<div class="row">
  <%# 説明（Description） - 1行全体を使用 %>
  <div class="col-md-12">
    <%= form_group_lg(f, :description,
        field_type: :text_area,
        rows: 5
    ) %>
  </div>
</div>
