<table class ="table mt-4">
<%# 後でカテゴリー別で検索して表示する%>
  <thead class= "table-light">
    <tr><%# モデルの時に使用できるRailsヘルパー %>
      <th><%= Material.human_attribute_name(:category_id) %></th>
      <th><%= Material.human_attribute_name(:name) %></th>
      <th><%= Material.human_attribute_name(:unit_for_product) %></th>
      <th><%= Material.human_attribute_name(:unit_weight_for_product) %></th>
      <th><%= Material.human_attribute_name(:unit_for_order) %></th>
      <th><%= Material.human_attribute_name(:unit_weight_for_order) %></th>
      <th><%= t('common.action') %></th>
    </tr>
  </thead>
  <tbody>
    <% materials.each do |material| %>
      <tr>
        <td><%= material.category.name %></td>
        <td><%= material.name %></td>
        <td><%= material.unit_for_product.name %></td>
        <%# 小数点以下3桁まで表示 %>
        <td><%= number_with_precision(material.unit_weight_for_product, precision: 3) %></td>
        <td><%= material.unit_for_order.name %></td>
        <td><%= number_with_precision(material.unit_weight_for_order, precision: 3) %></td>
        <td><%= link_to t('helpers.link.show'), material_path(material)%></td>
      <tr>
    <% end %>
  </tbody>
</table>
