<table class ="table mt-4">
<%# 後でカテゴリー別で検索して表示する%>
  <thead class= "table-light">
    <tr><%# モデルの時に使用できるRailsヘルパー %>
      <th><%= Material.human_attribute_name(:category_id) %></th>
      <th><%= Material.human_attribute_name(:name) %></th>
      <th><%= Material.human_attribute_name(:unit_for_product) %></th>
      <th><%= Material.human_attribute_name(:unit_weight_for_product) %></th>
      <th><%= Material.human_attribute_name(:unit_for_order) %></th>
      <th><%= Material.human_attribute_name(:unit_weight_for_order) %></th>
      <th><%= t('common.action') %></th>
    </tr>
  </thead>
  <tbody>
    <% materials.each do |material| %>
      <tr>
        <td><%= material.category.name %></td>
        <td><%= material.name %></td>
        <td><%= material.unit_for_product.name %></td>
        <%# 小数点以下3桁まで表示 %>
        <td><%= number_with_precision(material.unit_weight_for_product, precision: 3) %></td>
        <td><%= material.unit_for_order.name %></td>
        <td><%= number_with_precision(material.unit_weight_for_order, precision: 3) %></td>
        <td>
          <%# 集合部品でアクションカラム全体を生成 %>
          <%= render 'shared/actions/action_links',
              resource: material,
              resource_name: Material.model_name.human
          %></td>
      <tr>
    <% end %>
  </tbody>
</table>
