<% content_for(:title, t('materials.edit.title', name: @material.name)) %>

<%# 1. 共通ヘッダーとアクションボタンを呼び出す %>
<%= render 'shared/header_with_actions', title: t('.title', name: @material.name) do %>
  <%= render 'shared/actions/resource_header_actions',
    resource: @material,
    is_form_page: true,
    is_index_page: false,
    is_show_page: false
  %>
<% end %>

<%# 2. フォームの中身を全て新しい共通レイアウトに置き換え %>
<%= form_with model: @material, local: true do |f| %>

  <%= render 'shared/resource_two_column_form',
    f: f,
    basic_fields: 'materials/material_fields',
    detail_fields: nil,
    resource_name: 'materials'
  %>

  <%# 3. ヘッダーボタンからフォームを送信するための隠しボタンを配置 %>
  <div style="display:none;">
    <% submit_text = f.object.persisted? ? t('helpers.submit.update') : t('helpers.submit.create') %>
    <%= f.submit submit_text, id: "hidden-submit-#{dom_id(f.object)}" %>
  </div>
<% end %>