<%# タイトルタグ %>
<%= content_for :page_title, t('materials.show.title') %>
<div class="mb-4">
  <h2>
    <%= @material.name %> - <%= t('.title') %>
    </h2>
</div>

<div class="card p-4 shadow-sm">
  <dl class="row">
    <%#  human_attribute_nameでI18n化 %>
    <dt class="col-sm-3"><%= Material.human_attribute_name(:name) %></dt>
    <dd class="col-sm-9"><%= @material.name %></dd>

    <%#  human_attribute_nameでI18n化 %>
    <dt class="col-sm-3"><%= Material.human_attribute_name(:category_id) %></dt>
    <dd class="col-sm-9"><%= @material.category.name %></dd>

    <%# human_attribute_nameでI18n化 %>
    <dt class="col-sm-3"><%= Material.human_attribute_name(:unit_for_product) %></dt>
    <dd class="col-sm-9"><%= @material.unit_for_product %></dd>

    <%#  human_attribute_nameでI18n化 %>
    <dt class="col-sm-3"><%= Material.human_attribute_name(:unit_weight_for_product) %></dt>
    <%# 小数点以下3桁まで表示（number_with_precision は標準ヘルパーとして利用） %>
    <dd class="col-sm-9"><%= number_with_precision(@material.unit_weight_for_product, precision: 3) %></dd>

    <%# human_attribute_nameでI18n化 %>
    <dt class="col-sm-3"><%= Material.human_attribute_name(:unit_for_order) %></dt>
    <dd class="col-sm-9"><%= @material.unit_for_order %></dd>

    <%# human_attribute_nameでI18n化 %>
    <dt class="col-sm-3"><%= Material.human_attribute_name(:unit_weight_for_order) %></dt>
    <%# 小数点以下3桁まで表示 %>
    <dd class="col-sm-9"><%= number_with_precision(@material.unit_weight_for_order, precision: 3) %></dd>
  </dl>
</div>

  <div class="mt-4">
    <%= link_to t('helpers.link.back'), materials_path, class: 'btn btn-secondary' %>
  <div>
</div>

