<%# f: 親フォームビルダー %>
<div class="mb-3">
  <%= f.label :name, class: "form-label" %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="mb-3">
  <%= f.label :item_number, class: "form-label" %>
  <%= f.text_field :item_number, class: "form-control" %>
</div>

<div class="mb-3">
  <%= f.label :price, class: "form-label" %>
  <%= f.number_field :price, class: "form-control" %>
</div>

<div class="mb-3">
  <%= f.label :category_id, class: "form-label" %>
  <%# ユーザーに紐づくカテゴリーをプルダウンで表示 %>
  <%= f.collection_select :category_id, current_user.categories, :id, :name, { prompt: t('helpers.prompt') }, class: "form-select" %>
</div>

<div class="mb-3">
  <%= f.label :status, class: "form-label" %>
  <%# ステータス（公開、下書きなど）の選択 %>
  <%= f.select :status,
                Product.statuses.keys.map { |s| [I18n.t("activerecord.enums.product.status.#{s}"), s]},
                { prompt: t('helpers.prompt') },
                class: "form-select" %>
</div>


<div class="mb-3">
  <%= f.label :description, class: "form-label" %>
  <%= f.text_area :description, class: "form-control", rows: 4 %>
</div>

