<%# materials: product_materials のコレクションとして渡される %>
<% product_materials = local_assigns[:materials] %>

<% if product_materials.present? %>
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
      <thead>
        <tr class="border-bottom">
          <%# 原材料名 %>
          <th class="text-muted" style="min-width: 150px;"><%= t('activerecord.attributes.material.name') %></th>

          <%# 数量/分量 %>
          <th class="text-end text-muted" style="min-width: 70px;"><%= t('helpers.forms.quantity_placeholder') %></th>

          <%# 重量（商品単位） %>
          <th class="text-end text-muted" style="min-width: 120px;"><%= t('activerecord.attributes.product_material.unit_weight') %></th>

          <%# 単位 %>
          <th class="text-start text-muted" style="min-width: 60px;"><%= t('activerecord.attributes.material.unit_for_product')%></th>
        </tr>
      </thead>
      <tbody>
        <% product_materials.each do |pm| %>
          <tr class="border-bottom">
            <td><%= pm.material.name %></td>

            <%# 数量 %>
            <td class="text-end"><%= number_with_precision(pm.quantity, precision: 0) %></td>

            <%# 重量（商品単位） - 濃い文字に統一 %>
            <td class="text-end"><%= number_with_precision(pm.unit_weight, precision: 1) %></td>

            <%# 単位 - 濃い文字に統一 %>
            <td class="text-start"><%= pm.unit.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="text-muted text-center" style="padding-top: 50px; font-size: 1.0em;">
    <%= t('products.product_material_fields.no_materials_set') %>
  </p>
<% end %>
