<%# materials: product_materials のコレクションとして渡される %>
<% product_materials = local_assigns[:materials] %>

<div class="card-body p-0 pt-3">
  <% if product_materials.present? %>
    <table class="table table-sm table-borderless">
      <thead>
        <tr class="border-bottom">
          <%# 原材料名 %>
          <th class="text-muted" style="min-width: 150px;"><%= t('activerecord.attributes.product_material.material_id') %></th>

          <%# 数量/分量 %>
          <th class="text-end text-muted" style="min-width: 70px;"><%= t('activerecord.attributes.product_material.quantity') %></th>

          <%# 重量（商品単位） %>
          <th class="text-end text-muted" style="min-width: 120px;"><%= t('product_materials.header.product_weight') %></th>

          <%# 単位 %>
          <th class="text-start text-muted" style="min-width: 60px;"><%= t('common.unit') %></th>
        </tr>
      </thead>
      <tbody>
        <% product_materials.each do |pm| %>
          <tr class="border-bottom">
            <td><%= pm.material.name %></td>

            <%# 数量 %>
            <td class="text-end"><%= number_with_precision(pm.quantity, precision: 0) %></td>

            <%# 重量（商品単位 %>
            <td class="text-end text-muted"><%= number_with_precision(pm.material.unit_weight_for_product, precision: 1) %></td>

            <td class="text-start text-dark"><%= pm.unit.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-muted text-center" style="padding-top: 50px; font-size: 1.0em;">
      <%= t('product_materials.no_materials_set') %>
    </p>
  <% end %>
</div>
