<div class="row align-items-center mb-2 p-2 border-bottom nested-fields"
    data-controller="nested-form-item product-material">

  <%# 隠しフィールド: 削除マークとID %>
  <%= f.hidden_field :_destroy, value: f.object.marked_for_destruction? ? 1 : 0,
                    data: { nested_form_item_target: 'destroy' } %>
  <%= f.hidden_field :id %>

  <%# 1. 原材料選択ドロップダウン %>
  <div class="col-md-4">
    <%= f.collection_select(:material_id, current_user.materials, :id, :name,
      { include_blank: t('helpers.prompt.select') },
      { class: 'form-select', required: true,
        data: {
          action: 'change->product-material#updateUnit',
          'product-material-target': 'materialSelect'
        }
      }) %>
  </div>

  <%# 2. 数量入力 %>
  <div class="col-md-2">
    <%= f.number_field :quantity,
      class: 'form-control',
      min: 0,
      placeholder: t('helpers.product_material_fields.quantity_placeholder'),
      data: {
        'product-material-target': 'quantityInput'
      } %>
  </div>

  <%# 3. 商品単位重量 %>
  <div class="col-md-2 text-start">
    <span data-product-material-target="unitWeightDisplay" class="form-control-plaintext">
      <%= f.object.material&.unit_weight_for_product || t('helpers.no_setting') %>
    </span>
  </div>

  <%# 4. 単位表 %>
  <div class="col-md-2 text-start fw-bold">
    <span data-product-material-target="unitDisplay">
      <%= f.object.material&.unit_for_product&.name || t('helpers.no_setting') %>
    </span>
  </div>

  <%# 5. 削除ボタン %>
  <div class="col-md-2 text-end">
    <button type="button"
            class="btn btn-sm btn-outline-danger"
            data-action="click->nested-form-item#remove">
      <%= t('helpers.link.destroy') %>
    </button>
  </div>
</div>