<table class="table mt-4">
  <thead class="table-light">
    <tr>
    <%# Product.human_attribute_name を利用して属性名を表示 %>
    <th>画像</th>
    <th><%= Product.human_attribute_name(:category_id) %></th>
    <th><%= Product.human_attribute_name(:item_number) %></th>
    <th><%= Product.human_attribute_name(:name) %></th>
    <th><%= Product.human_attribute_name(:price) %></th>
    <th><%= t('common.action') %></th>
  </tr>
</thead>
  <tbody>
  <% products.each do |product| %>
    <tr>
      <%# 属性名 %>
      <%# 画像があればリサイズして表示 %>
      <td>
        <% if product.image.attached? %>
          <%= image_tag product.image.variant(resize_to_limit: [50, 50]),
                        class: "img-thumbnail"%>
        <% else %>
          -
        <% end %>
      </td>
      <td><%= product.category.name %></td>
      <td><%= product.item_number %></td>
      <td><%= product.name %></td>
      <%# 金額表示ヘルパーを使用 %>
      <td><%= number_to_currency(product.price) %></td>
      <td><%= link_to t('helpers.link.show'), product_path(product)%></td>
    </tr>
  <% end %>
  </tbody>
</table>