<%# product: @product として渡される %>
<% product = local_assigns[:product] %>
<% product_class = product.class %>

<%# 商品名 %>
<div class="mb-2 border-bottom py-2">
    <label class="form-label mb-0 text-muted" style="font-size: 1.0em;"><%= product_class.human_attribute_name(:name) %></label>
    <div class="text-dark text-center pt-2" style="font-size: 1.1em;">
        <%= product.name.presence %>
    </div>
</div>

<%# 品番 %>
<div class="mb-3 border-bottom py-2">
    <label class="form-label mb-0 text-muted" style="font-size: 1.0em;"><%= product_class.human_attribute_name(:item_number) %></label>
    <div class="text-dark text-center pt-2" style="font-size: 1.1em;">
        <%= product.item_number.presence %>
    </div>
</div>

<%# カテゴリー %>
<div class="mb-3 border-bottom py-2">
    <label class="form-label mb-0 text-muted" style="font-size: 1.0em;"><%= product_class.human_attribute_name(:category_id) %></label>
    <div class="text-dark text-center pt-2" style="font-size: 1.1em;">
        <%= product.category&.name.presence %>
    </div>
</div>

<%# 売価 %>
<div class="mb-3 border-bottom py-2">
    <label class="form-label mb-0 text-muted" style="font-size: 1.0em;"><%= product_class.human_attribute_name(:price) %></label>
    <div class="text-dark text-center pt-2" style="font-size: 1.1em;">
    <%= number_with_precision(product.price, precision: 0) %>
    </div>
</div>

<%# ステータス %>
<div class="mb-3 border-bottom py-2">
    <label class="form-label mb-0 text-muted" style="font-size: 1.0em;"><%= product_class.human_attribute_name(:status) %></label>
    <div class="text-dark text-center pt-2" style="font-size: 1.1em;">
    <%= t("activerecord.enums.product.status.#{product.status}") %>
    </div>
</div>

<div class="row mt-3">
    <%# 説明 %>
    <div class="col-md-6">
    <h6 class="text-muted" style="font-size: 1.1em;"><%= Product.human_attribute_name(:description) %></h6>

    <div class="p-3 border rounded d-flex align-items-center justify-content-center" style="min-height: 210px;">
        <%= render 'shared/components/description_content', content: product.description %>
    </div>
</div>

    <%# 画像 %>
    <div class="col-md-6">
    <h6 class="text-muted" style="font-size: 1.1em;"><%= Product.human_attribute_name(:image) %></h6>

    <div class="p-3 border rounded d-flex align-items-center justify-content-center" style="min-height: 210px;">
      <% if product.image.attached? %>
        <%= image_tag product.image, class: 'img-fluid', style: 'width: 100%; height: auto;' %>
      <% else %>
        <span class="text-muted" style="font-size: 1.1em;">
        <%= t('helpers.no_setting') %>
        </span>
      <% end %>
    </div>
  </div>
</div>