<%# 共通レイアウトにタイトルを渡す %>
<%= content_for :page_title, t('.title', name: @product.name) %>

<%# フォーム %>
<%= form_with(model: @product, local: true, class: "row") do |f| %>

  <%# 共通エラーメッセージの表示 %>
  <%= render 'shared/error_messages', model: @product %>

  <%# 左カラム: 基本情報 %>
  <div class="col-md-6 mb-4">
    <div class="card shadow-sm h-100 p-4">
      <h4 class="card-title mb-4"><%= t('.basic_info') %></h4>

      <%# 基本情報フォームのパーシャルを呼び出す %>
      <%= render 'basic_fields', f: f %>
    </div>
  </div>

  <%# 右カラム: 使用原材料 %>
  <div class="col-md-6 mb-4">
    <div class="card shadow-sm h-100 p-4 d-flex flex-column">
      <h4 class="card-title mb-4"><%= t('.material_info') %></h4>

      <div class="flex-grow-1">
        <%= render 'product_materials_fields', f: f %>
      </div>

      <div class="mt-auto pt-3 mt-4" style="z-index: 10;">
        <div class="d-flex justify-content-end">
          <%= render 'shared/actions/form_action_links', f: f, resource: @product, back_url: product_path(@product) %>
        </div>
      </div>
    </div>
  </div>
<% end %>