<%# リソース一覧テーブル %>
<%#
  機能:
  - リソース一覧をテーブル形式で表示
  - 検索フォーム、アクションリンク付き

  必須引数:
  - resources: 表示するリソースのコレクション
  - columns: 表示カラム定義の配列
  - resource_class: リソースのクラス

  オプション引数:
  - search_target: 検索対象フィールド (デフォルト: なし)
  - search_categories: 検索カテゴリ (デフォルト: なし)
  - new_path: 新規作成パス (デフォルト: なし)
  - icon_mode: アイコンモード (デフォルト: false)
  - show_copy: コピーボタン表示 (デフォルト: false)
  - copy_url_method: コピーURL生成メソッド名 (デフォルト: なし)
  - show_print: 印刷ボタン表示 (デフォルト: false)
  - print_url_method: 印刷URL生成メソッド名 (デフォルト: なし)
  - sort_options: ソートオプションの配列 (デフォルト: なし)
  - sort_placeholder: ソートプレースホルダー (デフォルト: なし)
%>
<% search_target = local_assigns[:search_target] %>
<% resource_class = local_assigns[:resource_class] %>
<% search_categories = local_assigns[:search_categories] %>
<% show_copy = local_assigns.fetch(:show_copy, false) %>
<% copy_url_method = local_assigns[:copy_url_method] %>
<% show_print = local_assigns.fetch(:show_print, false) %>
<% print_url_method = local_assigns[:print_url_method] %>
<% icon_mode = local_assigns.fetch(:icon_mode, false) %>
<% sort_options = local_assigns[:sort_options] %>
<% sort_placeholder = local_assigns[:sort_placeholder] %>

<% if search_target.present? || sort_options.present? %>
  <%# 名前空間付きルートに対応 %>
  <%
    route_key = resource_class.model_name.route_key
    form_path = send("#{route_key}_path")
  %>
  <%= render 'shared/forms/search_form',
      form_path: form_path,
      search_target: search_target,
      search_categories: search_categories,
      resource_class: resource_class,
      sort_options: sort_options,
      sort_placeholder: sort_placeholder %>
<% end %>

<table class="table mt-4">
  <thead class="table-light">
    <tr>
      <% columns.each do |col| %>
        <th>
          <% if col[:header].present? %>
            <%= resource_class.human_attribute_name(col[:header]) %>
          <% end %>
        </th>
      <% end %>
      <th><%= t('common.action') %></th>
    </tr>
  </thead>
  <tbody>
    <% resources.each do |resource| %>
      <tr data-id="<%= resource.id %>">
        <% columns.each do |col| %>
          <td>
            <%
              data_value = col[:data]
              if data_value.is_a?(Proc)
                output = data_value.call(resource)
              elsif data_value.is_a?(Symbol) || data_value.is_a?(String)
                output = resource.public_send(data_value)
              else
                output = data_value
              end
            %>
            <%= output %>
          </td>
        <% end %>
        <td>
          <%= render 'shared/actions/resource_action_links',
              resource: resource,
              resource_name: resource.class.model_name.human,
              show_link: defined?(show_action_link) ? show_action_link : true,
              show_copy: show_copy,
              copy_url: show_copy && copy_url_method.present? ?
              send(copy_url_method, resource) : nil,
              icon_mode: icon_mode
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
