<%# リソース一覧テーブル %>
<% search_target = local_assigns[:search_target] %>
<% resource_class = local_assigns[:resource_class] %>
<% search_categories = local_assigns[:search_categories] %>
<% show_copy = local_assigns.fetch(:show_copy, true) %>
<% copy_url_method = local_assigns[:copy_url_method] %>
<% show_print = local_assigns.fetch(:show_print, false) %>
<% print_url_method = local_assigns[:print_url_method] %>
<% icon_mode = local_assigns.fetch(:icon_mode, false) %>
<% edit_link = local_assigns.fetch(:edit_link, true) %>
<% destroy_link = local_assigns.fetch(:destroy_link, true) %>
<% sortable = local_assigns.fetch(:sortable, false) %>
<% sort_options = local_assigns[:sort_options] %>
<% sort_placeholder = local_assigns[:sort_placeholder] %>
<% search_name_proc = local_assigns[:search_name_proc] %>

<% if copy_url_method.blank? && show_copy %>
  <% copy_url_method = "copy_#{resource_class.model_name.singular}_path".to_sym %>
<% end %>

<% if search_target.present? || sort_options.present? %>
  <div <%= 'data-sortable-table-target="sortForm"' if sortable %>>
    <%
      route_key = resource_class.model_name.route_key
      scope = local_assigns[:scope]
      # scope_prefix は将来の機能用に予約
      form_path = scoped_path("#{route_key}_path".to_sym)
    %>
    <%= render 'shared/forms/search_form',
        form_path: form_path,
        search_target: search_target,
        search_categories: search_categories,
        resource_class: resource_class,
        sort_options: sort_options,
        sort_placeholder: sort_placeholder %>
  </div>
<% end %>

<table class="table mt-4">
  <thead class="table-light">
    <tr>
      <% if sortable %>
        <th class="drag-handle-header d-none" style="width: 50px;"></th>
      <% end %>
      <% columns.each do |col| %>
        <th>
          <% if col[:header].present? %>
            <%= resource_class.human_attribute_name(col[:header]) %>
          <% end %>
        </th>
      <% end %>
      <th><%= t('common.action') %></th>
    </tr>
  </thead>
  <tbody>
    <% resources.each do |resource| %>
      <%
        # data-search-name の値を決定
        search_name_value = if search_name_proc.present?
          search_name_proc.call(resource)
        else
          resource.name
        end
      %>
      <tr data-id="<%= resource.id %>"<%= " data-display-order=\"#{resource.display_order || 999999}\"".html_safe if sortable && resource.respond_to?(:display_order) %>
          data-resource-search-target="row"
          data-search-name="<%= search_name_value %>">
        <% if sortable %>
          <td class="drag-handle d-none text-center" style="cursor: move;">☰</td>
        <% end %>

        <% columns.each do |col| %>
          <td>
            <%
              data_value = col[:data]
              if data_value.is_a?(Proc)
                output = data_value.call(resource)
              elsif data_value.is_a?(Symbol) || data_value.is_a?(String)
                output = resource.public_send(data_value)
              else
                output = data_value
              end
            %>
            <%= output %>
          </td>
        <% end %>

        <td>
          <%= render 'shared/actions/resource_action_links',
              resource: resource,
              resource_name: resource.class.model_name.human,
              show_link: defined?(show_action_link) ? show_action_link : true,
              show_copy: show_copy,
              copy_url: show_copy && copy_url_method.present? ?
              scoped_path(copy_url_method, resource) : nil,
              show_print: show_print,
              print_url: show_print && print_url_method.present? ?
              scoped_path(print_url_method, resource) : nil,
              icon_mode: icon_mode,
              edit_link: edit_link,
              destroy_link: destroy_link,
              scope: scope
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
