<%# リソース一覧テーブル %>
<%#
  機能:
  - リソース一覧をテーブル形式で表示
  - 検索フォーム、アクションリンク付き

  必須引数:
  - title: ページタイトル
  - resources: 表示するリソースのコレクション
  - columns: 表示カラム定義の配列
  - resource_class: リソースのクラス

  オプション引数:
  - search_target: 検索対象フィールド (デフォルト: なし)
  - search_categories: 検索カテゴリ (デフォルト: なし)
  - new_path: 新規作成パス (デフォルト: なし)
  - icon_mode: アイコンモード (デフォルト: false)
  - show_copy: コピーボタン表示 (デフォルト: false)
  - copy_url_method: コピーURL生成メソッド名 (デフォルト: なし)
  - show_print: 印刷ボタン表示 (デフォルト: false)
  - print_url_method: 印刷URL生成メソッド名 (デフォルト: なし)
%>
<% search_target = local_assigns[:search_target] %>
<% resource_class = local_assigns[:resource_class] %>
<% search_categories = local_assigns[:search_categories] %>
<% show_copy = local_assigns.fetch(:show_copy, false) %>
<% copy_url_method = local_assigns[:copy_url_method] %>
<% show_print = local_assigns.fetch(:show_print, false) %>
<% print_url_method = local_assigns[:print_url_method] %>
<% icon_mode = local_assigns.fetch(:icon_mode, false) %>

<% if search_target.present? %>
  <%= render 'shared/forms/search_form',
      form_path: send(resource_class.model_name.route_key + '_path'),
      search_target: search_target,
      search_categories: search_categories %>
<% end %>

<table class="table mt-4">
  <thead class="table-light">
    <tr>
      <% columns.each do |col| %>
        <th>
          <% if col[:header].present? %>
            <%= resource_class.human_attribute_name(col[:header]) %>
          <% end %>
        </th>
      <% end %>
      <th><%= t('common.action') %></th>
    </tr>
  </thead>
  <tbody>
    <% resources.each do |resource| %>
      <tr data-id="<%= resource.id %>">
        <% columns.each do |col| %>
          <td>
            <%= render_resource_data(resource, col) %>
          </td>
        <% end %>
        <td>
          <%= render 'shared/actions/resource_action_links',
              resource: resource,
              resource_name: resource.class.model_name.human,
              show_link: defined?(show_action_link) ? show_action_link : true,
              show_copy: show_copy,
              copy_url: show_copy && copy_url_method.present? ?
              send(copy_url_method, resource) : nil,
              icon_mode: icon_mode
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
