<div data-controller="plan-products nested-form plan-product-tabs"
    data-plan-products-target="totalContainer"
    data-plan-product-tabs-category-id-value="<%= @plan.category_id || 0 %>"
    data-action="plan-product:calculated->plan-products#recalculate plan-product:recalculate->plan-products#recalculate">

  <div class="d-flex justify-content-end mb-3">
    <span class="fw-bold">
      <%= t('plans.total_price_label') %>:
      <span data-plan-products-target="grandTotal">
        <%= number_to_currency(
                (@plan.grand_total_for_view rescue 0),
                unit: t('number.currency.format.unit'),
                precision: 0
              ) %>
      </span>
    </span>
  </div>

  <%# タブナビゲーション %>
  <%= render 'shared/category_tabs_nav',
      product_categories: @product_categories,
      is_editable_form: true,
      is_active_category_id: @plan.category_id %>

  <%#  タブコンテンツ  %>
  <div class="tab-content pt-3" id="nav-tabContent">

    <%# 1. ALLタブのコンテンツ  %>
    <div class="tab-pane fade"
          id="nav-0"
          role="tabpanel"
          aria-labelledby="nav-0-tab"
          data-plan-product-tabs-target="category"
          data-category-id="0">

      <%# カテゴリ合計のリスト %>
      <div class="mt-3 mb-4">
        <% @product_categories.each do |c| %>
          <div class="d-flex justify-content-end fw-bold mb-1">
            <span class="me-2"><%= c.name %> <%= t('plans.category_total_label') %>:</span>
            <span data-plan-products-target="categoryTotal"
                  data-category-id="<%= c.id %>"
                  class="text-end text-success">
              <%= number_to_currency(0, unit: t('number.currency.format.unit')) %>
            </span>
          </div>
        <% end %>
      </div>
    </div>

    <%# 2. カテゴリーごとのコンテンツ %>
    <% @product_categories.each do |category| %>
      <div class="tab-pane fade"
        id="nav-<%= category.id %>"
        role="tabpanel"
        aria-labelledby="nav-<%= category.id %>-tab"
        data-plan-product-tabs-target="category"
        data-category-id="<%= category.id %>">

        <%# ヘッダー行%>
        <div class="row fw-bold mb-2 pb-1 border-bottom">
          <div class="col-md-4"><%= t('activerecord.attributes.product.name') %></div>
          <div class="col-md-2 text-start"><%= t('helpers.forms.quantity_placeholder') %></div>
          <div class="col-md-2 text-end"><%= t('activerecord.attributes.product.price') %></div>
          <div class="col-md-2 text-end"><%= t('plans.plan_product_subtotal') %></div>
          <div class="col-md-2 text-end"><%= t('common.action') %></div>
        </div>

        <%#  カテゴリー内のフォーム %>
        <div data-nested-form-target="target" data-category-id="<%= category.id %>">
          <%# 既存レコード %>
          <% @plan.product_plans.select { |pp| pp.product.present? && pp.product.category_id == category.id }.each do |plan_product| %>
            <%= f.fields_for :product_plans, plan_product, child_index: plan_product.object_id do |plan_product_f| %>
              <%= render 'plan_product_fields', f: plan_product_f %>
            <% end %>
          <% end %>
        </div>

        <%# 商品追加ボタン %>
        <div class="d-grid mt-3">
          <button type="button" class="btn btn-sm btn-outline-success"
                      data-action="nested-form#add"
                      data-association="product_plans"
                      data-category-id="<%= category.id %>"
                      data-template-id="plan_product_fields_template_<%= category.id %>">
          <%= t('helpers.link.add_item', resource: category.name) %>
          </button>
        </div>

        <%# カテゴリ合計の表示エリア %>
        <div class="d-flex justify-content-end mt-3 mb-4 fw-bold">
            <span class="me-2"><%= category.name %> <%= t('plans.category_total_label') %>:</span>
            <span data-plan-products-target="categoryTotal"
                  data-category-id="<%= category.id %>"
                  class="text-end text-success">
                <%= number_to_currency(0, unit: t('number.currency.format.unit')) %>
            </span>
        </div>

      </div>
    <% end %>
  </div>

  <%# テンプレート %>
  <% @product_categories.each do |category| %>
    <%= f.fields_for :product_plans,
                      f.object.product_plans.build(product: Product.new(category_id: category.id)),
                      child_index: 'NEW_RECORD' do |plan_product_f| %>
      <template data-nested-form-target="template"
                id="plan_product_fields_template_<%= category.id %>">
        <%= render 'plan_product_fields', f: plan_product_f %>
      </template>
    <% end %>
  <% end %>
</div>