<%# 未 ブラウザでの警告は共通化予定 %>
<div class="mb-3">
  <%# 修正: '計画名'を削除し、I18nに任せる %>
  <%= f.label :name, class: 'form-label' %>
  <%= f.text_field :name, class: 'form-control', required: true %>
</div>

<div class="mb-3">
  <%# 修正: '分類カテゴリ'を削除し、I18nに任せる %>
  <%= f.label :category_id, class: 'form-label' %>
  <%# Categoryを category_type: 'plan' に限定 %>
  <%= f.collection_select :category_id, @plan_categories, :id, :name,
    ({ include_blank: t('helpers.prompt') }),
    ({
      class: 'form-select',
      required: true
    }) %>
</div>

<div class="mb-3">
  <%# 修正: '計画ステータス'を削除し、I18nに任せる %>
  <%= f.label :status, class: 'form-label' %>

  <%# enum のキーと値を使ってドロップダウンを生成 I18n適用済み %>
  <%= f.select :status,
             Plan.statuses.keys.map { |k| [t("activerecord.enums.plan.status.#{k}"), k] },
             { include_blank: t('helpers.prompt') },
             { class: 'form-select',
               required: true, } %>
</div>

<div class="mb-3">
  <%# 修正: '備考/説明'を削除し、I18nに任せる %>
  <%= f.label :description, class: 'form-label' %>
  <%= f.text_area :description, class: 'form-control', rows: 4 %>
</div>