<% plan = local_assigns[:resource] %>
<% plan_class = plan.class %>

<div class="card-body">

  <%# 計画名 %>
  <div class="mb-3 border-bottom py-2">
      <label class="form-label mb-0 text-muted" style="font-size: 1.0em;"><%= plan_class.human_attribute_name(:name) %></label>
      <div class="text-dark text-center pt-2" style="font-size: 1.1em;">
          <%= plan.name.presence %>
      </div>
  </div>

  <%# カテゴリー %>
  <div class="mb-3 border-bottom py-2">
      <label class="form-label mb-0 text-muted" style="font-size: 1.0em;"><%= plan_class.human_attribute_name(:category_id) %></label>
      <div class="text-dark text-center pt-2" style="font-size: 1.1em;">
          <%= plan.category&.name.presence %>
      </div>
  </div>

  <%# ステータス %>
  <div class="mb-3 border-bottom py-2">
      <label class="form-label mb-0 text-muted" style="font-size: 1.0em;"><%= plan_class.human_attribute_name(:status) %></label>
      <div class="text-dark text-center pt-2" style="font-size: 1.1em;">
          <%= t("activerecord.enums.plan.status.#{plan.status}") %>
      </div>
  </div>

  <%# 説明  %>
  <div class="mt-4">
      <h6 class="text-muted" style="font-size: 1.1em;"><%= Plan.human_attribute_name(:description) %></h6>

      <div class="p-3 border rounded d-flex align-items-center justify-content-center" style="min-height: 210px;">
      <%= render 'shared/description_content', content: plan.description %>
    </div>
  </div>

</div>