<div class="row align-items-center mb-2 p-2 border-bottom"
    data-controller="plan-product nested-form-item"
    data-plan-product-price-value="<%= f.object.product&.price.to_f || 0.0 %>"
    data-plan-product-category-id="<%= f.object.product&.category_id || 0 %>">

  <%= f.hidden_field :_destroy, value: f.object.marked_for_destruction? ? 1 : 0,
      data: { nested_form_item_target: 'destroy', 'plan-product-target': 'destroy' } %>

  <%= f.hidden_field :id %>

  <%# 1. 商品選択ドロップダウン 未 ドロップダウンの翻訳パス変更 %>
  <div class="col-md-4">
    <%= f.label :product_id, class: 'form-label visually-hidden' %>

    <% current_category_id = f.object.product&.category_id %>
    <% products = current_category_id ? Product.where(category_id: current_category_id) : Product.all %>

    <%= f.collection_select(:product_id, products, :id, :name,
        { include_blank: t('helpers.prompt.select') },
        { class: 'form-select',
          required: true,
          data: {
            action: 'change->plan-product#updateProduct',
            'plan-product-target': 'productSelect'
          }
        }) %>
  </div>

  <%#  2. 数量入力  %>
  <div class="col-md-2">
    <%= f.number_field :production_count,
        class: 'form-control',
        min: 0,
        placeholder:  t('helpers.forms.quantity_placeholder'),
        data: {
          'plan-product-target': 'quantity',
          action: 'input->plan-product#calculate'
        } %>
  </div>

  <%# 3. 商品売価 %>
  <div class="col-md-2 text-end">
    <span data-plan-product-target="priceDisplay" class="form-control-plaintext">
      <%= number_to_currency(f.object.product&.price.to_f || 0, unit: t('number.currency.format.unit'), precision: 0) %>
    </span>
  </div>

  <%#  4. 小計表示  %>
  <div class="col-md-2 text-end fw-bold">
    <div data-plan-product-target="subtotal">
      <%= number_to_currency((f.object.subtotal_calculated_for_view rescue 0), unit: t('number.currency.format.unit')) %>%>
    </div>
  </div>

  <%#  4. 削除ボタン  %>
  <div class="col-md-2 text-end">
    <button type="button"
            class="btn btn-sm btn-outline-danger"
            data-action="click->nested-form-item#remove">
      <%= t('helpers.link.destroy') %>
    </button>
  </div>
</div>