<%#
  機能: 製造計画商品タブナビゲーション
  - カテゴリ別タブボタンを生成
  - タブコンテンツは含まない（別パーシャルで実装）

  必須引数:
  - product_categories: Array<Category> - 商品カテゴリ配列
%>
<% product_categories = local_assigns[:product_categories] %>

<nav>
  <div class="nav nav-tabs" id="planProductTab" role="tablist">
    <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#plan-product-all" type="button" role="tab" aria-controls="plan-product-all" aria-selected="true">
      <%= t('plans.tab_all') %>
    </button>

    <% (product_categories || []).each do |category| %>
      <button class="nav-link" id="<%= category.id %>-tab" data-bs-toggle="tab" data-bs-target="#plan-product-<%= category.id %>" type="button" role="tab" aria-controls="plan-product-<%= category.id %>" aria-selected="false">
        <%= category.name %>
      </button>
    <% end %>
  </div>
</nav>
