<%= content_for(:title, t('plans.index.title')) %>
<%# 1. ヘッダー %>
<%= render 'shared/header_with_actions', title: t('plans.index.title') do %>

<%# 2. アクションパーシャル %>
  <%= render 'shared/actions/resource_header_actions',
      is_index_page: true,
      new_path: new_plan_path
  %>
<% end %>

<%# 3. リソースリスト %>
<%= render('shared/resource_list',
    # I18nのキーではなく、直接タイトルを指定
    # 未 商品カテゴリーのものだけ出す
    resources: @plans,
    resource_class: Plan,
    search_target: :category_id,
    search_categories: @search_categories,

    columns: [
      # Planモデルのカラムを定義
      { header: :name, data: :name },
      { header: :category_id,
        data: Proc.new { |plan| plan.category&.name }
      },
      { header: :status,
        data: Proc.new { |plan| translate_enum_value(plan, :status) }
      }
    ]
) %>

<div class="d-flex justify-content-center mt-4">
  <%= paginate @plans, theme: 'bootstrap-5' %>
</div>
