<% plan_title = t('plans.show.title', name: @plan.name) %>
<%= content_for(:title, plan_title) %>
<h1><%= plan_title %></h1>
<%# 左カラムの内容定義: yield :content_left に内容を渡す %>
<%= content_for :content_left do %>
  <%= render 'plan_details', resource: @plan %>
<% end %>
<%# 右カラムの内容定義: yield :content_right に内容を渡す %>
<%= content_for :content_right do %>
  <%= render 'plan_products_details', resource: @plan %>
<% end %>
<%# 共通の二段組みレイアウトを呼び出し、タイトルなどのローカル変数を渡す %>
<%= render partial: 'shared/resource_two_column_details', locals: {
  resource: @plan,
  content_left_title: t('forms.titles.basic_info', model: t('activerecord.models.plan')),
  content_right_title: t('forms.titles.plan_product'),
} %>