<%# 2カラムレイアウト詳細画面 %>
<% resource = local_assigns[:resource] %>
<% content_left_title = local_assigns[:content_left_title] %>
<% content_right_title = local_assigns[:content_right_title] %>

<div class="container-fluid px-4" style="margin-top: 30px;">
  <div class="row d-flex align-items-stretch" style="min-height: calc(100vh - 200px);">

    <% has_right_content = content_for?(:content_right) %>
    <% left_column_width = has_right_content ? 'col-md-6' : 'col-md-12' %>

    <div class="<%= left_column_width %> mb-3 mb-md-0 d-flex">
      <div class="card p-4 w-100 d-flex flex-column shadow-sm">

        <% if content_left_title.present? %>
          <h3 class="mb-3"><%= content_left_title %></h3>
        <% end %>

        <div class="flex-grow-1">
          <%= yield :content_left %>
        </div>
      </div>
    </div>

    <% if has_right_content %>
      <div class="col-md-6 d-flex">
        <div class="card p-4 w-100 d-flex flex-column shadow-sm">

          <% if content_right_title.present? %>
            <h3 class="mb-3"><%= content_right_title %></h3>
          <% end %>

          <div class="flex-grow-1">
            <%= yield :content_right %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
