<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} | #{t('application_name')}" : t('application_name') %></title>

    <!-- OGP Meta Tags -->
    <meta property="og:title" content="<%= t('meta.title') %>">
    <meta property="og:description" content="<%= t('meta.description') %>">
    <meta property="og:image" content="<%= image_url('ogp.png') %>">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="<%= t('meta.site_name') %>">
    <meta name="twitter:card" content="summary_large_image">

    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= i18n_javascript_translations %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= bootstrap_icons_tag %>
    <%= javascript_importmap_tags %>
    <%= bootstrap_js_tag %>
    <%= yield :head %>
  </head>
  <body>
    <main class="container-fluid">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </main>
  </body>
</html>
