<%# Devise認証画面用のシンプルレイアウト %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} | #{t('application_name')}" : t('application_name') %></title>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= bootstrap_css_tag %>
    <%= bootstrap_icons_tag %>
    <%= javascript_importmap_tags %>
    <%= bootstrap_js_tag %>
    <%= yield :head %>
    <script src="<%= asset_path('utils/currency_formatter.js') %>"></script>
  </head>
  <body>
    <main class="container-fluid">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </main>
  </body>
</html>
