<%# ダッシュボード用2カラムレイアウト %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} | #{t('application_name')}" : t('application_name') %></title>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= bootstrap_css_tag %>
    <%= bootstrap_icons_tag %>
    <%= javascript_importmap_tags %>
    <%= bootstrap_js_tag %>
    <%= yield :head %>
    <script src="<%= asset_path('utils/currency_formatter.js') %>"></script>
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'shared/flash_messages' %>
    </div>

    <main class="container-fluid">
      <div class="row min-vh-100">
        <%= render 'dashboards/sidebar' %>

        <div class="col-md-9 p-4">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
